<div class="container mt-2 mb-5 general ms-6">

<app-title-section title="Funzioni per il Registro Nazionale Dializzati" icon="supporto_grafico:dati"></app-title-section>
<div class="row text-center mt-4">
  <div class="col .ff-roboto-h3 bold"><h3>Gestione dei flussi informativi con RIDT-SIN</h3></div>
</div>
  <div class="row mt-3 pt-3 justify-content-center">

    <div class="col-3">
      <app-custom-card title="Acquisizione dati Registro Regionale" icon="azioni:download"
        link="acquisizione-dati-registro-regionale"></app-custom-card>
    </div>
    <div class="col-3">
      <app-custom-card title="Consultazione Esito Acquisizione" icon="generali:ricerca"
        link="consultazione-esito-acquisizione"></app-custom-card>
    </div>
    <div class="col-3">
      <app-custom-card title="Esportazione Dati Registro Dializzati" icon="azioni:scaricaFile"
        link="esportazione-registro-dializzati"></app-custom-card>
    </div>
  </div>
</div>
