<div class="border-card">
    <div class="p-3 cont" >
      <div class="title">
        <h5 class="mb-2  ff-roboto-body-w900 ff-roboto-h5">{{title}}</h5>
      </div>
      <div class="mb-2">
        nessun file selezionato
      </div>
     
      <div class="button">
        <ds-button type="button" color="secondary" size="small" title="Click the button" 
          aria-label="This is the label for screen readers" ico-type="azioni:caricaFile" ico-right="">
          {{"custom-card.select-file-text" | translate}}
        </ds-button>
      </div>
    </div>
  </div>