@import '/src/color_variables.scss';

.cont {
  height: 150px;
  //inline-size: fit-content
}

.title h5 {
  height: 40px;
  font-size: 16px
}

.button {
  float: right;
  background-color: transparent;
  color: #006dda
}

.border-card {
  border: 2px dashed #006dda;
  border-radius: 10px;
  background-color: #E6F0FB;
}

.ico-upload {
  width: 25px;
  height: 25px;
  color: $Celtic;
}


.error{
  border-color:#006dda36
}
