<div class="border-card">

  <ds-icon ico-size="medium" [attr.ico-type]="icon" class="icon" >
  </ds-icon>
  <div class="p-3 cont" >
    <div class="title">
      <h5 class="mb-2  ff-roboto-body-w900 ff-roboto-h5">{{title}}</h5>
    </div>
    <div class="button">
      <ds-button type="button" color="primary" size="small" title="Click the button" [routerLink]="link"
        aria-label="This is the label for screen readers" ico-type="navigazione:freccia_right" ico-right="">
        Entra
      </ds-button>
    </div>
  </div>
</div>
