@import '/src/styles.scss';


.icon {
  position: relative;
  background: $Bianco;
  top: -22px;
  width: fit-content;
  left: 20px;
  transform: scale(1.3);
  color: $Celtic!important;
  padding-left: 6px;
  padding-right: 6px;
}

.cont {
  height: 150px;
  inline-size: fit-content;
  width: 100%;
}

.title h5 {
  height: 60px;
}

.button {
  float: right;
  padding-top: 8px;
}

.border-card {
  border: 3px solid $Celtic;
  border-radius: 10px;
}
