<div class="border-card" *ngIf="!compact">

  <app-icon [name]="icon" class="icon text-primary" tooltip="Modifica">
  </app-icon>
  <div class="p-3 cont" >
    <div class="title">
      <h5 class="mb-2 ps-3 bold text-primary">{{title}}</h5>
    </div>
    <div class="button">


      <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2" [routerLink]="link">
        <span class="text-uppercase">Entra</span>
        <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
      </button>

    </div>
  </div>
</div>
<div *ngIf="compact">

  <div class="custom-card-2 ms-5 mb-5">
    <app-icon [name]="icon" class="compact-icon mt-2 icon text-primary" tooltip="Modifica">
    </app-icon>
    <div class="separatore ms-4 me-4"></div>
    <h2 class="custom-text">
      {{title}}
    </h2>
    <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2 custom-action">
        <span class="text-uppercase">Entra</span>
        <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
    </button>
</div>
</div>
