.icon {
  position: relative;
  background: white;
  top: -22px;
  width: fit-content;
  left: 10px;
}

.cont {
  height: 150px;
  inline-size: fit-content
}

.title h5 {
  height: 60px
}

.button {
  float: right
}

.border-card {
  border: 3px solid #006dda;
  border-radius: 10px
}
