<div class="container mt-1 mb-5 general">

  <app-title-section title="Consultazione Esito Acquisizione" icon="zoom"></app-title-section>

  <app-search-box></app-search-box>

  <!-- Tabella -->
  <div class=" mt-4">
    <app-custom-table [data]="data" [headers]="headers"></app-custom-table>
  </div>
  <!-- Tabella -->
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-secondary btn-dx btn-icon mt-2 ps-3 pe-3">
        <span class="text-uppercase ">Indietro</span>
    </button>

  </div>
  <div class="col d-flex justify-content-end">
  </div>
  </div>
  </div>
