<div class="container mb-5 general">
  <app-title-section title="Dichiarazioni di Volontà" icon="registro"></app-title-section>
</div>

<div class="row mt-3 mb-3 pt-3 ms-5 me-5 justify-content-center">

  <div class="col-4">
    <app-custom-card title="Aggiungi Nuova Dichiarazione Di Volontà" icon="download" [compact]="true"
      link="inserimento-dichiarazione-volonta"></app-custom-card>
  </div>
  <div class="col-4">
    <app-custom-card title="Gestione Dichiarazione Di Volonta" icon="zoom" [compact]="true" link="inserimento-dichiarazione-volonta">
    </app-custom-card>
  </div>
  <div class="col-4">
    <app-custom-card title="Trasferimento Dichiarazione Di Volonta" [compact]="true" icon="upload"
      link="inserimento-dichiarazione-volonta"></app-custom-card>
  </div>
</div>
<div class="row mt-2 mb-3 pt-3 ms-5 me-5 ">

    <div class="col-4">
      <app-custom-card title="Stampa Modulo" icon="download" [compact]="true"
        link="inserimento-dichiarazione-volonta"></app-custom-card>
    </div>
    
  </div>
<!-- <div class="d-flex">
    <div class="custom-card-2 ms-5 mb-5">
        <div class="custom-icon ms-3"></div>
        <div class="separatore ms-4 me-4"></div>
        <h2 class="custom-text">
            Aggiungi Nuova Dichiarazione Di Volontà
        </h2>
        <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2 custom-action">
            <span class="text-uppercase">Entra</span>
            <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
        </button>
    </div>

    <div class="custom-card-2 ms-3 mb-5">
        <div class="custom-icon ms-3"></div>
        <div class="separatore ms-4 me-4"></div>
        <h2 class="custom-text">
            Gestione Dichiarazione Di Volonta
        </h2>
        <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2 custom-action">
            <span class="text-uppercase">Entra</span>
            <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
        </button>
    </div>
        
    <div class="custom-card-2 ms-3 mb-5">
        <div class="custom-icon ms-3"></div>
        <div class="separatore ms-4 me-4"></div>
        <h2 class="custom-text">
            Trasferimento Dichiarazione Di Volonta
        </h2>
        <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2 custom-action">
            <span class="text-uppercase">Entra</span>
            <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
        </button>
    </div>
</div>

<div class="d-flex">
    <div class="custom-card-2 ms-5 mb-5">
        <div class="custom-icon ms-3"></div>
        <div class="separatore ms-4 me-4"></div>
        <h2 class="custom-text">
            Stampa Modulo
        </h2>
        <button class="btn btn-primary btn-xs btn-icon ms-1 mt-2 custom-action">
            <span class="text-uppercase">Entra</span>
            <app-icon name="chevronDx" class="chevron icon-white ms-4"></app-icon>
        </button>
    </div>
</div> -->
