.custom-card-2{
    height: 80px;
    width:31%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.custom-icon{
    height: 30px;
    width: 30px;
    background-color: black;
}

.separatore{
    width: 1px;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
}

.custom-text{
    font-size: 17px;
    width: 350px;
}

.custom-action{
    transform: translate(-35px,35px);
}