<footer style="background-color: #2D3141; height: 370px;">
  <div class="container py-4">
    <div class="row d-flex align-items-start">
      <div class="col-md-4 maxw-30 d-flex">
        <figure slot="logo-1">
          <img src="https://i.ibb.co/HzXCpp1/ministero-della-salute.png" aria-label="logo" alt="logo-1" height="60">
        </figure>
        <figure slot="logo-2">
          <img src="https://i.ibb.co/G3wTTmy/UE.png" aria-label="logo" alt="logo-2" height="60">
        </figure>
        <figure slot="logo-3">
          <img src="https://i.ibb.co/YNXZS1G/italiadomani.png" aria-label="logo" alt="logo-3" height="60">
        </figure>
      </div>
      <hr style="border-top: 1px solid #49CFFA; margin: 0; width: 100%;" class="pt-2 pb-2">
      <div class="col-md-4 maxw-30" style="max-width: 33%">
        <h4 class="text-white">Sezione 1</h4>
        <ul class="list-unstyled quick-links">
          <li><a href="#" class="footer-link">Link 1.1</a></li>
          <li><a href="#" class="footer-link">Link 1.2</a></li>
          <li><a href="#" class="footer-link">Link 1.3</a></li>
        </ul>
      </div>
      <div class="col-md-4 maxw-30 d-flex flex-column align-items-center" style="max-width: 33%">
        <h4 class="" style="color: #2D3141;">.</h4>
        <ul class="list-unstyled quick-links">
          <li><a href="#" class="footer-link">Link 2.1</a></li>
          <li><a href="#" class="footer-link">Link 2.2</a></li>
          <li><a href="#" class="footer-link">Link 2.3</a></li>
        </ul>
      </div>
      <div class="col-md-3 maxw-30 d-flex flex-column align-items-end pb-5" style="max-width: 33%">
        <h4 class="text-white">Sezione 3</h4>
        <ul class="list-unstyled quick-links">
          <li><a href="#" class="footer-link">Link 3.1</a></li>
          <li><a href="#" class="footer-link">Link 3.2</a></li>
          <li><a href="#" class="footer-link">Link 3.3</a></li>
        </ul>
      </div>
      <div class="col-md-7 maxw-70 pt-2">
        <ul class="list-unstyled quick-links d-flex ">
          <li><a href="#" class="text-white pr-3 ">Cookie Policy</a></li>
          <li><a href="#" class="text-white p-3 ">Termini d'uso</a></li>
          <li><a href="#" class="text-white p-3 ">Note legali</a></li>
          <li><a href="#" class="text-white p-3 ">Accessibilità</a></li>
          <li><a href="#" class="text-white p-3 ">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>    