
<ds-footer state="small">
    <!-- heading logo -->
    <figure slot="logo-1">
      <img src="https://i.ibb.co/HzXCpp1/ministero-della-salute.png" aria-label="logo" alt="logo-1">
    </figure>
    <figure slot="logo-2">
      <img src="https://i.ibb.co/G3wTTmy/UE.png" aria-label="logo" alt="logo-2">
    </figure>
    <figure slot="logo-3">
      <img src="https://i.ibb.co/YNXZS1G/italiadomani.png" aria-label="logo" alt="logo-3">
    </figure>
    <!-- SMALL -->
    <!-- heading right -->
    <div slot="heading-small-right-link">
      <ds-link mode="dark" color="secondary" sr-text="link esterno apre nuova scheda" href="#">Link footer 1</ds-link>
    </div>
    <!-- footer -->
    <div slot="footer-small-content">
      <ds-footer-link-list has-horizontal="">
        <ul slot="link-list" role="list" aria-label="lorem ipsum sit" class="horizontal">

      <li id="0">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
            {{"footer.link" | translate}}
        </ds-link>
      </li>

      <li id="1">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          Link 2
        </ds-link>
      </li>


        </ul>
      </ds-footer-link-list>
    </div>

    <!-- LARGE -->
    <!-- main-content-left -->
    <div slot="title-left">Label link left</div>
    <div slot="main-content-left-column-left">
      <ds-footer-link-list>
        <ul slot="link-list">

      <li id="column-left-link-0">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 1
        </ds-link>
      </li>

      <li id="column-left-link-1">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 2
        </ds-link>
      </li>

      <li id="column-left-link-2">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 3
        </ds-link>
      </li>

        </ul>
      </ds-footer-link-list>
    </div>
    <div slot="main-content-left-column-right">
      <ds-footer-link-list>
        <ul slot="link-list">

      <li id="column-right-link-0">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 1
        </ds-link>
      </li>

      <li id="column-right-link-1">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 2
        </ds-link>
      </li>

      <li id="column-right-link-2">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 3
        </ds-link>
      </li>

        </ul>
      </ds-footer-link-list>
    </div>
    <!-- main-content-right -->
    <div slot="title-right">Label link right</div>
    <div slot="main-content-right">
      <ds-footer-link-list>
        <ul slot="link-list">

      <li id="content-right-link-0">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 1
        </ds-link>
      </li>

      <li id="content-right-link-1">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 2
        </ds-link>
      </li>

      <li id="content-right-link-2">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 3
        </ds-link>
      </li>

      <li id="content-right-link-3">
        <ds-link color="secondary" mode="dark" sr-text="link esterno apre nuova scheda" href="#">
          Link 4
        </ds-link>
      </li>

        </ul>
      </ds-footer-link-list>
    </div>
    <!-- footer links -->
    <div slot="footer-content">
      <ds-footer-link-list>
        <ul slot="link-list" role="list" aria-label="lorem ipsum sit" class="">

      <li id="list-2w8327bqwr">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          {{"footer.link" | translate}}
        </ds-link>
      </li>

      <li id="list-tbbpqre8pt">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          Link 2
        </ds-link>
      </li>

      <li id="list-9r10eq5eel">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          Link 3
        </ds-link>
      </li>

      <li id="list-k4a74j5uq4">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          Link 4
        </ds-link>
      </li>

      <li id="list-494q02tmoz">
        <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
          Link 5
        </ds-link>
      </li>

        </ul>
      </ds-footer-link-list>
    </div>
  </ds-footer>
