<ds-footer state="large">
  <!-- heading logo -->
  <figure slot="logo-1">
    <img src="https://i.ibb.co/HzXCpp1/ministero-della-salute.png" aria-label="logo" alt="logo-1">
  </figure>
  <figure slot="logo-2">
    <img src="https://i.ibb.co/G3wTTmy/UE.png" aria-label="logo" alt="logo-2">
  </figure>
  <figure slot="logo-3">
    <img src="https://i.ibb.co/YNXZS1G/italiadomani.png" aria-label="logo" alt="logo-3">
  </figure>
  <!-- SMALL -->
  <!-- heading right -->
  <div slot="heading-small-right-link">
    <ds-link mode="dark" color="secondary" sr-text="link esterno apre nuova scheda" href="#">Link footer 1</ds-link>
  </div>
  <!-- footer -->
  <div slot="footer-small-content">
    <ds-footer-link-list>
      <ul slot="link-list" role="list" aria-label="lorem ipsum sit" class="">

    <li id="0">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Link 1
      </ds-link>
    </li>

    <li id="1">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Link 2
      </ds-link>
    </li>

      </ul>
    </ds-footer-link-list>
  </div>

  <!-- LARGE -->
  <!-- main-content-left -->
  <div slot="title-left">Contatti</div>
  <div slot="main-content-left-column-left">
    <ds-footer-link-list>
      <ul slot="link-list" class="ps-0 ms-0" >

    <li id="column-left-link-0">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Telefono e posta elettronica
      </ds-link>
    </li>

    <li id="column-left-link-1">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        PEC
      </ds-link>
    </li>

    <li id="column-left-link-2">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Uffici periferici territoriali
      </ds-link>
    </li>

      </ul>
    </ds-footer-link-list>
  </div>
  <div slot="main-content-left-column-right">
    <ds-footer-link-list>
      <ul slot="link-list">

    <li id="column-right-link-0">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        URP
      </ds-link>
    </li>

    <li id="column-right-link-1">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Front Office
      </ds-link>
    </li>

    <li id="column-right-link-2">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Ufficio Stampa
      </ds-link>
    </li>

      </ul>
    </ds-footer-link-list>
  </div>
  <!-- main-content-right -->
  <div slot="title-right">Link Utili</div>
  <div slot="main-content-right">
    <ds-footer-link-list>
      <ul slot="link-list">

    <li id="content-right-link-0">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link" >
        Link 1
      </ds-link>
    </li>

    <li id="content-right-link-1">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Link 2
      </ds-link>
    </li>

    <li id="content-right-link-2">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Link 3
      </ds-link>
    </li>

    <li id="content-right-link-3">
      <ds-link  mode="dark" sr-text="link esterno apre nuova scheda" href="#" class="footer-link">
        Link 4
      </ds-link>
    </li>

      </ul>
    </ds-footer-link-list>
  </div>
  <!-- footer links -->
  <div slot="footer-content">
    <ds-footer-link-list has-horizontal="">
      <ul slot="link-list" role="list" aria-label="lorem ipsum sit" class="horizontal-md">

    <li id="list-7robc8lhwu">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Privacy policy
      </ds-link>
    </li>

    <li id="list-izl3liai2u">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Cookie policy
      </ds-link>
    </li>

    <li id="list-gwtqw8cb45">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Termini d'uso
      </ds-link>
    </li>

    <li id="list-4i06dql5x1">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
         Note legali
      </ds-link>
    </li>

    <li id="list-whttpye8hl">
      <ds-link color="secondary" mode="dark" sr-text="Link esterno apre nuova scheda" href="#">
        Accesibilità
      </ds-link>
    </li>

      </ul>
    </ds-footer-link-list>
  </div>
</ds-footer>
