<form>
<div class="row mt-4 pb-4 search-box">
  <div class="col">
    <ds-select-rich name="Lorem" label="Tipo di file Inviato" has-no-default-selected="" placeholder="Inserisci tipo di file">
      <ds-select-rich-option>Option 1</ds-select-rich-option>
      <ds-select-rich-option>Option 2</ds-select-rich-option>
      <ds-select-rich-option>Option 3</ds-select-rich-option>
      <ds-select-rich-option>Option 4</ds-select-rich-option>
      <ds-select-rich-option>Option 5</ds-select-rich-option>
      <ds-select-rich-option>Option 6</ds-select-rich-option>
      <ds-select-rich-option>Option 7</ds-select-rich-option>
      <ds-select-rich-option>Option 8</ds-select-rich-option>
      <ds-select-rich-option>Option 9</ds-select-rich-option>
      <ds-select-rich-option>Option 10</ds-select-rich-option>
    </ds-select-rich>
  </div>
  <div class="col">
    <ds-input-calendar placeholder="Inserisci la Data" label="Periodo da" overlay-alignment="end">
    </ds-input-calendar>
  </div>
  <div class="col">
    <ds-input-calendar placeholder="Inserisci la Data" label="Periodo a" overlay-alignment="end">
    </ds-input-calendar>
  </div>
  <div class="col">
    <div class="pt-35">
    <ds-button type="button" color="primary" class="align-self-baseline" size="small" title="Click the button" aria-label="Ricerca" ico-type="generali:ricerca" ico-right="" sr-text="Ricerca">
      Ricerca
    </ds-button>
    <ds-button type="button" color="secondary" class="ms-2" size="small" title="Azzera Filtri" aria-label="Azzera Filtri" sr-text="Azzera Filtri">
      Azzera filtri
    </ds-button>
  </div>
  </div>
</div>
</form>
