@import 'variables';
@import '../node_modules/bootstrap-italia/src/scss/bootstrap-italia';


.container{
    &.general{

        padding-left: 48px!important;
        padding-right: 48px!important;
    }
}



.ms-6{
    margin-left: 48px;
}
.form-group{margin-bottom: 0;}
