//@import '../node_modules/bootstrap-italia/src/scss/bootstrap-italia';
@import '/src/scss/bootstrap-italia-custom.scss';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//Colori Principali
$Space :#2D3141 ;
$Charcoal :#3E414F;
$Black_coral :#626878;
$Silver_metallic :#9EA0A7 ;
$Spanish_gray :#B2B3B9;


//Scala di Blu
$Yale :#0C539A ;
$Celtic :#006DDA ;
$Babi :#99C5F0 ;
$Beau :#E6F0FB ;
$Alice :#F2F8FD;


//Scala di Azzurri
$Cerulean :#26B1DE ;
$Vivid_sky :#49CFFA ;
$Blizzard :#C8F1FE;


//Scala di Neutri
$Cadet_grey :#26B1DE ;
$Cultured :#E8E9ED ;
$Azure_x :#E9F7FB ;
$Light_gray :#F7FAFC ;
$Bianco: #FFFFFF;
$Bgrey: #7c93b1;


//Colori Messaggi
$Conferma :#1FA609 ;
$Conferma_bkg :#E9F6E6 ;
$Alert :#EDB629 ;
$Alert_bkg :#FDF8EA ;
$Errore: #D31D38 ;
$Errore_bkg :#FBE8EB;



body{font-family: 'Roboto', sans-serif;}



.container{
    &.general{

        padding-left: 48px!important;
        padding-right: 48px!important;
    }
}



.ms-6{
    margin-left: 48px;
}
.form-group{margin-bottom: 0;}



h1{
    font-size:28px;
    margin-bottom: 0;
}

h3{font-size: 20px;}
h5{font-size: 18px;}
.select-wrapper select{border-bottom: 1px solid $Bgrey; border-radius: 5px; border: 1px solid $Bgrey; height: 40px; font-size: 16px; font-weight: 400;}
.select-wrapper label, .form-group label.active{line-height: 12px; position: relative;}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea{border-bottom: 1px solid $Bgrey; border-radius: 5px; border: 1px solid $Bgrey; height: 40px; font-size: 16px; font-weight: 400;}
.pt-12{padding-top: 12px;}
