//@import '../node_modules/bootstrap-italia/src/scss/bootstrap-italia';
@import '/src/scss/bootstrap-italia-custom.scss';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '/node_modules/@swimlane/ngx-datatable/index.scss';
@import '/node_modules/@swimlane/ngx-datatable/assets/icons.css';
@import '/node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';


//Colori Principali
$Space :#2D3141 ;
$Charcoal :#3E414F;
$Black_coral :#626878;
$Silver_metallic :#9EA0A7 ;
$Spanish_gray :#B2B3B9;


//Scala di Blu
$Yale :#0C539A ;
$Celtic :#006DDA ;
$Babi :#99C5F0 ;
$Beau :#E6F0FB ;
$Alice :#F2F8FD;


//Scala di Azzurri
$Cerulean :#26B1DE ;
$Vivid_sky :#49CFFA ;
$Blizzard :#C8F1FE;


//Scala di Neutri
$Cadet_grey :#26B1DE ;
$Cultured :#E8E9ED ;
$Azure_x :#E9F7FB ;
$Light_gray :#F7FAFC ;
$Bianco: #FFFFFF;
$Bgrey: #7c93b1;
$light_blue:rgba(230,240,251,0.5);
$Exlight_blue: #f7fbfc;
$Exlight_gray: #D7E0EA;


//Colori Messaggi
$Conferma :#1FA609 ;
$Conferma_bkg :#E9F6E6 ;
$Alert :#EDB629 ;
$Alert_bkg :#FDF8EA ;
$Errore: #D31D38 ;
$Errore_bkg :#FBE8EB;



body{font-family: 'Roboto', sans-serif; font-size:18px}



.container{
    &.general{

        padding-left: 48px!important;
        padding-right: 48px!important;
        width: 100%;
        max-width: inherit;
        margin-top: 0;
    }
}



.ms-6{
    margin-left: 48px;
}
.form-group{margin-bottom: 0;}



h1{
    font-size:28px;
    margin-bottom: 0;
}

h1{font-size: 32px;}
h2{font-size: 28px; padding-bottom: 0; margin-bottom: 0;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
.select-wrapper select{border-bottom: 1px solid $Bgrey; border-radius: 5px; border: 1px solid $Bgrey; height: 40px; font-size: 16px; font-weight: 400;}
.select-wrapper label, .form-group label.active{line-height: 12px; position: relative;}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea{border-bottom: 1px solid $Bgrey; border-radius: 5px; border: 1px solid $Bgrey; height: 40px; font-size: 16px; font-weight: 400;}
.pt-12{padding-top: 12px;}
a{font-weight: 700; color: $Celtic; text-decoration: underline!important;}
.list-item{color: $Vivid_sky!important; }

// BOTTONI
.btn{border-radius: 4px; font-size: 16px; padding-left: 11px; padding-right: 11px; padding-top: 7px; padding-bottom: 7px;}
.btn:hover{text-decoration: underline;}
.btn-primary, .btn-icon{background: $Charcoal; }
.btn-primary:hover, .btn-icon:hover{background: $Black_coral; }
.chevron{width: 20px; height: 20px;}
.btn-primary.disabled, .btn-icon.disabled{ background: $Cultured; border:1px solid $Spanish_gray; color: $Black_coral;}

.btn-secondary{background: transparent; border: 1px solid $Charcoal; color: $Charcoal;}
.btn-secondary:hover{background: $Exlight_blue; border: 1px solid $Charcoal; color: $Charcoal;}

.link-button{box-shadow: none; background: transparent; color: $Celtic;}

// BREADCRUMBS
.breadcrumb-container .breadcrumb{padding-bottom: 0;}
.breadcrumb-container .breadcrumb .breadcrumb-item a {color: $Celtic; font-size: 16px;}
.breadcrumb-container .breadcrumb .breadcrumb-item.active{font-size: 16px; font-weight: 400;}

//FOCUS INPUT
:focus:not(.focus--mouse), .form-check [type=checkbox]:focus + label, .form-check [type=radio]:focus + label, .toggles label input[type=checkbox]:focus + .lever{border-color: $Celtic !important;
  box-shadow: 0 0 0 1px $Celtic !important;
  outline: none !important;}

  .custom-arrow::after {
    content: url('/src/assets/img/svg/chevron.svg');
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $Celtic;
    fill: $Celtic;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > *{background-color: $Beau; border: none;}
  .table > :not(caption) > * > *{border: none; box-shadow:none}
  .table th {font-size: 14px;}
  .table td {font-size: 16px; position: relative;}

  .table td::after {
    position: absolute;
    top: 50%;
    right: 0px;
    height: 30px;
    transform: translateY(-50%);
    border-right: 1px solid $Exlight_gray;
    content: "";
  }

  .table tr td:last-child::after{border-right:none}
