<div class="container mb-5 mt-5 general">
  <div class="row">

    <div class="col">
      <ds-breadcrumb heading-level="3" heading-label="Path of navigation" show-heading="">
        <ds-breadcrumb-item text="Main page" item-link="mainPage.html"></ds-breadcrumb-item>
        <ds-breadcrumb-item text="Second level page"></ds-breadcrumb-item>
        <ds-breadcrumb-item text="Third level page" disabled="true"></ds-breadcrumb-item>
        <ds-breadcrumb-item text="Current page"></ds-breadcrumb-item>
      </ds-breadcrumb>
    </div>
  </div>
  <div class="row mt-3 pt-5 justify-content-center">

    <div class="col-3">
      <app-custom-upload title="INVIA DATI ANAGRAFICI"></app-custom-upload>
    </div>
    <div class="col-3">
      <app-custom-upload title="INVIA DATI SULLE COMORBIDITA'"></app-custom-upload>
    </div>
    <div class="col-3">
      <app-custom-upload title="INVIA DATI RELATIVI AGLI EVENTI"></app-custom-upload>
    </div>
  </div>
</div>
